@import "base";
@import "styles";
@import "design-tokens";

body {
  color: #fff;
  background-color: #314a60;
}

header {
  margin: 3.5rem 0 6rem;
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
}

.menu_apps article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem 4rem;
  article {
    position: relative;
    text-align: center;
    width: 22.5rem;
    height: 18rem;
    background-color: #fff;
    border-radius: 0.7rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.7rem;
    }
    &:hover > a > div {
      display: flex;
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      font-size: 2rem;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      border-radius: 0.7rem;
    }
  }
}
